<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>
 
<p>
  <b>Title:</b>
  <%= @employee.faults_number %>
</p>
 
<%= link_to 'Edit', edit_employees_path(@post) %> |
<%= link_to 'Back', employees_path %>